# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/
